#table{
    width: 1000px;
    border: 1px black solid ;
    padding: 0px 5px 0px 5px;
    vertical-align: top;
}

#bal_jobb{
    width: 50%;
}

th,td{
    border: 1px black solid;
    border-collapse: collapse;
}

.kozep{
    width: 1000px;
    margin: auto;
}

#FEJLEC,#LABLEC{
    border: 1px black solid;
}
#Bal,#Jobb{
    width: 488px;
    float: left;
    border: 1px black solid;
    padding: 0px 5px;
}

#LABLEC{
    clear: left;
}